body {
    /* background-image: ("pic.png"); */
    background: rgba(0, 0, 0, 0.9) url(pic.png);
    background-size: cover;
    background-blend-mode: darken;
    margin: auto;
    text-align: center;

}

span {
    color: rgb(184, 33, 33);
}

table,
th,
td {
    border: 1px solid black;
    margin: auto;
}

.cell {
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 1.5em;
}

.close {
    height: 40px;
    width: 40px;
    border: 5px solid;
    border-color: #f5f3eb #bab7a9 #bab7a9 #fff9db;
    box-sizing: border-box;
    background-color: #dcd6bc;
}

.shown {
    height: 40px;
    width: 40px;
    border: 2px solid;
    background-color: #cecab7;
    border-color: #9c998d;
    box-sizing: border-box;
}

.container {
    border: solid;
}

.demotext {
    color: #FFFFFF;
    text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #9c998d 0px 0px 20px, #9c998d 0px 0px 30px, #9c998d 0px 0px 40px, #9c998d 0px 0px 50px, #9c998d 0px 0px 75px;
    color: #FFFFFF;
}

.livesText {
    font-size: 20px;
}

.icon {
    margin-right: 100px;
}

.myButton {
    box-shadow: inset 0px 1px 3px 0px #91b8b3;
    background: linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
    background-color: #768d87;
    border-radius: 5px;
    border: 1px solid #566963;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 12px;
    font-weight: bold;
    padding: 5px 5px;
    text-decoration: none;
    text-shadow: 0px -1px 0px #2b665e;
}

.myButton:hover {
    background: linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
    background-color: #6c7c7c;
}

.myButton:active {
    position: relative;
    top: 1px;
}